<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <title>Inventario de Insumos</title>
</head>
<body>
    <h1>Inventario de Insumos</h1>
    <a href="{{ url_for('routes_insumos.agregar_insumo') }}">Editar</a>
    <table>
        <thead>
            <tr>
                <th>Descripción</th>
                <th>Cantidad</th>
                <th>Unidad de Medida</th>
                <th>Valor Unitario</th>
                <th>Stock Mínimo</th>
                <th>Acciones</th>
            </tr>
        </thead>
        <tbody>
            {% for insumo in insumos %}
                <tr>
                    <td>{{ insumo.descripcion }}</td>
                    <td>{{ insumo.cantidad }}</td>
                    <td>{{ insumo.unidadDeMedida }}</td>
                    <td>{{ insumo.valorUnitario }}</td>
                    <td>{{ insumo.stockMinimo }}</td>
                    <td>
                        <a href="{{ url_for('editar_insumo', id=insumo.id) }}">Editar</a>
                        <a href="{{ url_for('eliminar_insumo', id=insumo.id) }}" onclick="return confirm('¿Estás seguro?')">Eliminar</a>
                    </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
</body>
</html>
