/* Generales */
:root {
    --white: #ffffff;
    --black: #000000;
    --dark: #232830;
    --very-light-gray: #81847d;
    --text-input-field: #F7F7F7;
    --hospital-green: #ACD9B2;
    --aside: #e0ebe3;
    --sm: 14px;
    --md: 16px;
    --lg: 18px;
}

/* General */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    height: 100vh;
}

.container {
    display: flex;
    flex: 1;
}

.inactive {
    display: none;
}

/* Barra lateral */
.sidebar {
    width: 250px;
    background-color: var(--aside);
    color: var(--very-light-gray);
    display: flex;
    flex-direction: column;
}

.logo {
    border-bottom: 3px solid var(--very-light-gray);
}

.logo img {
    width: 150px;
    height: 150px;
    justify-self: center;
    margin-left: 48px;
}

.menu ul {
    list-style: none;
    margin: 0;
}

.menu li {
    margin: 20px 0;
    cursor: pointer;
}

.menu ul ul {
    margin-left: 15px;
}

.options img {
    width: 24px;
    height: 24px;
}

.admin {
    text-align: center;
    margin-top: 100px;
}

.admin .status {
    color: #27ae60;
    font-weight: bold;
}

/* Navbar */
.navbar-menu {
    display: flex;
    align-items: center;
    height: 60px;
    justify-content: space-between;
    padding: 0 20px;
    border-bottom: 3px solid var(--very-light-gray);
}

/* Contenido principal */
.main-content {
    flex: 1;
    background-color: #f5f5f5;
}

.header {
    background-color: var(--blue);
    color: rgb(102, 150, 94);
    font-weight: 700;
    height: 56px;
    display: flex;
}

.header img {
    width: 30px;
    height: 30px;
    object-fit: cover;
    margin-top: 20px;
    margin-right: 20px;
}

.title {
    margin: 0 20px 0 20px;
    border-bottom: 3px solid var(--blue);
}

.stats {
    display: flex;
    gap: 20px;
    margin: 20px 20px 0 20px;
}

.stat-card {
    background-color: white;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    flex: 1;
    text-align: center;
}

.stat-title {
    color: #7f8c8d;
    margin-bottom: 10px;
}

.stat-value {
    font-size: 24px;
    color: #2c3e50;
}

/*SECCION INFO DEL USUARIO*/
.user-info {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    height: 45px;
    background-color: rgb(255, 255, 255);
    padding: 5px 20px;
    margin: 20px;
    border-radius: 50px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    width: fit-content;
    margin-left: auto;
}

/*  Ajuste de los elementos dentro de .user-actions */
.user-actions {
    display: flex;
    align-items: center;
    gap: 15px; /* Espacio entre cada elemento */
    position: relative;
    padding: 5px 10px;
}

/*  Estilo del texto del usuario */
#usuario-info {
    font-size: 16px;
    font-weight: bold;
    color: #333;
    white-space: nowrap; /* Evita que el texto se divida en varias l铆neas */
}

/*  Ajuste de los iconos para que est茅n alineados */
.icono-cerrar-sesion, 
.icono-perfil {
    width: 40px;
    height: 40px;
    cursor: pointer;
    transition: transform 0.2s ease-in-out;
}

/*  Espaciado entre los iconos y la info del usuario */
.perfil-container {
    position: relative;
    display: inline-block;
    cursor: pointer;
}


/* CONTENEDOR ICONO CERRAR SESION */
.cerrar-sesion-container {
    position: relative;
    display: inline-block;
    cursor: pointer;
}

/*  cono de cerrar sesi贸n */
.icono-cerrar-sesion {
    width: 40px;
    height: 40px;
    cursor: pointer;
    transition: transform 0.2s ease-in-out;
}

.icono-cerrar-sesion:hover {
    transform: scale(1.3); /* Efecto de agrandado */
}

/*  Tooltip de Cerrar Sesi贸n */
.tooltip {
    visibility: hidden;
    width: 100px;
    background-color: rgba(0, 0, 0, 0.7);
    color: white;
    text-align: center;
    padding: 5px;
    border-radius: 5px;

    position: absolute;
    bottom: 51px; /*  Aparece debajo del icono */
    left: 50%;
    transform: translateX(-50%);
    opacity: 0;
    transition: opacity 0.3s ease-in-out;
    font-size: 12px;
    white-space: nowrap;
}

/*  Mostrar tooltip al pasar el cursor */
.cerrar-sesion-container:hover .tooltip {
    visibility: visible;
    opacity: 1;
}



/* CONTENEDOR ICONO PERFIL*/
.user-actions {
    display: flex;
    align-items: center;
    gap: 15px; /* Espacio entre el bot贸n y el icono */
}

/* cono de perfil */
.icono-perfil {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    object-fit: cover;
    transition: transform 0.2s ease-in-out;
}

.icono-perfil:hover {
    transform: scale(1.3);
}

/*  Contenedor del icono de perfil con tooltip */
.perfil-container {
    position: relative;
    display: inline-block;
    cursor: pointer;
}

/*  Tooltip del icono de perfil */
.tooltip-perfil {
    visibility: hidden;
    width: 80px;
    background-color: rgba(0, 0, 0, 0.7);
    color: white;
    text-align: center;
    padding: 5px;
    border-radius: 5px;

    position: absolute;
    bottom: 49px; /* Ajusta la posici贸n del text debajo del icono */
    left: 50%;
    transform: translateX(-50%);

    opacity: 0;
    transition: opacity 0.3s ease-in-out;
    font-size: 12px;
    white-space: nowrap;
}

/* Mostrar tooltip al hacer hover */
.perfil-container:hover .tooltip-perfil {
    visibility: visible;
    opacity: 1;
}



/* MENU DESPLEGABLE DE PERFIL*/
.menu-perfil {
    position: absolute;
    top: 45px; /* mover verticalmente */
    right: 40px;
    background: white;
    border-radius: 15px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.2);
    width: 180px;
    display: none; /* Oculto por defecto */
    z-index: 1000;
}

/* Mostrar el men煤 cuando est茅 activo */
.menu-perfil.active {
    display: block;
}

/* Estilos de los 铆tems del men煤 */
.menu-perfil ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

.menu-perfil li {
    padding: 10px;
    cursor: pointer;
    font-size: 15px;
    color: #0c0c0c;
    display: flex;
    border-radius: 10px;
    align-items: center;
    gap: 10px;
    transition: background 0.3s ease-in-out;
}

.menu-perfil li:hover {
    background: #c4bfbf;
}

/* Footer */
footer {
    background-color: white;
    color: gray;
    text-align: center;
    padding: 10px;
    position: absolute;
    bottom: 0;
    width: 82%;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

footer {
    text-align: center;
}



/* SECCION DE ANIMALES */
#seccion-animales {
    margin: 20px;
    padding: 20px;
    background: white;
    border-radius: 10px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    position: relative;
    min-height: 80vh;
    display: flex;
    flex-direction: column;
}

/* Contenedor de tarjetas */
.animales-container {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center; /* Centrar tarjetas */
    align-items: flex-start; /* Que no se estiren */
    padding-bottom: 50px; /* Espacio para los botones */
}

/* TARJETAS DE ANIMALES*/
.tarjeta-animal {
    width: 200px; /*  Tama帽o m谩s compacto */
    height: 140px;
    background: #ffffff;
    border-radius: 8px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
    padding: 10px;
    text-align: center;
    transition: transform 0.5s ease-in-out;
    overflow: hidden; /* Evita estiramientos */
}

/* Efecto hover: agranda la tarjeta al pasar el mouse */
.tarjeta-animal:hover {
    transition: 0.9s;
    transform: scale(1.3);
    height: auto;
}

/* Imagen del animal */
.tarjeta-animal img {
    width: 100%;
    height: 110px; /*  Tama帽o m谩s peque帽o */
    object-fit: cover;
    border-radius: 8px;
}

/* Informaci贸n del animal */
.tarjeta-animal .info {
    display: id; /*  Ocultar info por defecto */
    font-size: 12px;
    color: #333;
}

/* Mostrar la info al hacer hover */
.tarjeta-animal:hover .info {
    display: block;
}
/* Estilos para los botones de las tarjetas */
.tarjeta-animal .btn-editar,
.tarjeta-animal .btn-eliminar {
    padding: 6px 10px;
    font-size: 12px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background 0.3s ease-in-out;
}

/* Estilo espec铆fico para el bot贸n Editar (Verde) */
.tarjeta-animal .btn-editar {
    background: #28a745;
    border-radius: 15px;
    color: white;
}

.tarjeta-animal .btn-editar:hover {
    background: #218838;
}

/* Estilo espec铆fico para el bot贸n Eliminar (Rojo) */
.tarjeta-animal .btn-eliminar {
    background: #dc3545;
    border-radius: 15px;
    color: white;
}

.tarjeta-animal .btn-eliminar:hover {
    background: #c82333;
}


/* CONTROLES DE PAGINACION */
.pagination {
    position: absolute;
    bottom: 10px;
    left: 20px;
    display: flex;
    gap: 10px;
}

/* Botones de paginaci贸n */
.pagination button {
    padding: 8px 12px;
    font-size: 14px;
    border: none;
    cursor: pointer;
    background-color: #4CAF50;
    color: white;
    border-radius: 20px; 
    transition: background 0.3s ease;
}

.pagination button:hover {
    background-color: #328336;
}


/* ESTILOS DEL MODAL (FORMULARIO DE EDICION) */
.modal {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: white;
    padding: 20px;
    border-radius: 20px;
    box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.2);
    width: 400px;
    max-width: 90%;
    z-index: 1000;
}

.modal-content {
    display: flex;
    flex-direction: column;
}

/* Estilos de los inputs y selects */
.modal-content input,
.modal-content select {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 8px;
    font-size: 16px;
    box-sizing: border-box;
    background-color: #ffffff;
}

/* Mejora el aspecto del select */
.modal-content select {
    appearance: none; /* Quita el estilo por defecto */
    background: url('../img/down-arrow.png') no-repeat right 10px center; /* Icono de flecha */
    background-size: 15px;
    cursor: pointer;
}

/* Estilos de los botones */
.modal-buttons {
    display: flex;
    justify-content: center;
    gap: 20px;
    margin-top: 15px;
}

.modal-buttons button {
    padding: 10px 45px;
    min-width: 100px;
    border: none;
    border-radius: 20px;
    cursor: pointer;
    font-size: 16px;
    transition: background 0.3s ease-in-out;
}

#guardar-edicion {
    background-color: #28a745;
    color: white;
}

#guardar-edicion:hover {
    background-color: #1f7e33;
}

#cerrar-modal {
    background-color: #dc3545;
    color: white;
}

#cerrar-modal:hover {
    background-color: #b92030;
}


/* ESTILOS DE LO RELACIONADO CON BUSCAR*/
/* Contenedor de b煤squeda y bot贸n agregar */

.search-container {
    display: flex;
    justify-content: space-between; /* Distribuye los elementos */
    align-items: center;
    margin-bottom: 15px;
    padding: 10px;
}

/* Bot贸n de agregar (Verde) */
#btn-agregar-animal {
    background-color: #228b3c; 
    color: white;
    border: none;
    padding: 10px 15px;
    border-radius: 20px;
    cursor: pointer;
    font-size: 14px;
    transition: background 0.3s ease;
    margin-left: auto; /* Mueve el bot贸n a la derecha */
}

#btn-agregar-animal:hover {
    background-color: #27ae60;
}

#buscador-animales.inactive {
    display: none;
    justify-content: center; /* Centrar horizontalmente */
    gap: 20px; /* Espacio entre input y bot贸n */
    margin-bottom: 100px; /* Espacio con las tarjetas */
}

#buscar-animal {
    width: 150px;
    padding: 8px;
    border: 1px solid #b8b7b7;
    border-radius: 20px;
    font-size: 16px;
}

#btn-buscar {
    background: #3371ce;
    color: white;
    border-radius: 20px;
    padding: 8px 10px;
    border-radius: 20px;
    font-size: 16px;
    cursor: pointer;
    transition: background 0.3s;
}

#btn-buscar:hover {
    background: #210aeb;
}

.mensaje-busqueda {
    text-align: center;
    font-size: 18px;
    font-weight: bold;
    color: #d9534f;
    margin-top: 20px;
}

/* BOTON AGREGAR ANIMAL */
.btn-agregar {
    display: block;
    margin: 10px auto;
    padding: 10px 15px;
    font-size: 16px;
    font-weight: bold;
    background-color: #2aa747;
    color: white;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    transition: background 0.3s ease;
}

.btn-agregar:hover {
    background-color: #218838;
}

/* DISEO MODAL DE AGREGAR ANIMAL*/

/* Contenedor de los botones en el modal */
.modal-buttons {
    display: flex;
    justify-content: center;
    gap: 25px; 
    margin-top: 15px;
}

/* Bot贸n de guardar (Verde) */
.modal-buttons #guardar-animal {
    background-color: #18b43a;
    color: white;
    border: none;
    padding: 10px 15px;
    border-radius: 20px;
    cursor: pointer;
    font-size: 14px;
    transition: background 0.3s ease;
}

.modal-buttons #guardar-animal:hover {
    background-color: #23743d;
}

/* Bot贸n de cancelar (Rojo) */
.modal-buttons #cerrar-modal-agregar {
    background-color: #e74c3c;
    color: white;
    border: none;
    padding: 10px 15px;
    border-radius: 20px;
    cursor: pointer;
    font-size: 14px;
    transition: background 0.3s ease;
}

.modal-buttons #cerrar-modal-agregar:hover {
    background-color: #b13426;
}


/* L O A D E R */
.pantalla-carga {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background: rgba(0, 0, 0, 0.712);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 9999;
    opacity: 1;
    transition: opacity 0.5s ease-in-out;
}

/*  Spinner de carga */
.loader {
    border: 5px solid #ceddce9c;
    border-top: 1px solid #1c7424;
    border-radius: 50%;
    width: 47px;
    height: 50px;
    animation: girar 0.6s linear infinite;
}

/*  Animaci贸n del spinner */
@keyframes girar {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}

/*  Ocultar el loader cuando termine la carga */
.pantalla-carga.oculto {
    opacity: 0;
    pointer-events: none;
}

/* SECCIN DE PAPELERA */
#seccion-papelera {
    margin: 20px;
    padding: 20px;
    background: white;
    border-radius: 10px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    min-height: 80vh;
}

.papelera-container {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
}

.btn-restaurar {
    background-color: #28a745;
    color: white;
    border-radius: 5px;
}

.btn-eliminar-def {
    background-color: #dc3545;
    color: white;
    border-radius: 5px;
}
